---
layout: default
onepage: true
---
<div class='full no-padding parallax home-video-wrapper'>
  <div class='fullscreen'>
    <video autoplay='autoplay' muted='muted' id='fullscreen-video' loop='loop'>
      <source src='{{ "/assets/images/@stock/0001-0900_opt.mp4" | relative_url }}' type='video/mp4'>
    </video>
    <div class='overlay'></div>
    <div class='layer'>
      <p class="small-title">Montreal 2020 </p>
      <h1 class='thin' id="to-be-update">
         <span class="fir">NRM2020</span><br/>
      </h1>
      <h2 class='thin'>
      XIII International Symposium of Functional Neuroreceptor Mapping of the Living Brain
      </h2>
      <h2 class='thin'>
        @ Centre Mont-Royal, 20th-23rd June. 
      </h2>
    </div>
  </div>
</div>
<a id='about'></a>
{% include about.html %}
<a id='keyinfo'></a>
{% include keyinfo.html %}
<a id='abstracts'></a>
{% include abstracts.html %}
<a id='montreal'></a>
{% include montreal.html %}
<a id='pkcourse'></a>
{% include pkcourse.html %}
<a id='contact'></a>
{% include contact-form.html %}
