<div class='full dark'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="About" title="" %}
    </div>
    <div class='large-8 medium-8 columns large-centered medium-centered'>
      <div class='border-wrapper'>
        <div class='borders'>
          <div class='top'></div>
          <div class='right'></div>
          <div class='bottom'></div>
          <div class='left'></div>
        </div>
        <div class='just-text'>
          <div class='content'>
          <!-- 
          <img src="{{ "/assets/images/LOGO_DR_TR.png" | relative_url }}" class="pull-left mr-2">
          -->
            <p>
            The meeting, established by Prof Albert Gjedde in 1997, represents a vibrant community of in vivo brain researchers deciphering the mysteries of the living human brain: exploring how CNS molecule – protein recognition makes us human. 
            </p>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>