<div class='full dark'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="Why Attend" title="" %}
    </div>
    <div class='large-12 medium-12 large-8 medium-8 columns large-centered medium-centered'>
      <div class='border-wrapper'>
        <div class='borders'>
          <div class='top'></div>
          <div class='right'></div>
          <div class='bottom'></div>
          <div class='left'></div>
        </div>

        <div class='just-text-left'>
          <div class='content'>
            <div class="row">
              <div class="medium-3 columns">
                <img align="center" src=" {{"/assets/images/LOGO_DR_TR.png" | relative_url }}" alt="About Image - Logo">
              </div>
              <div class="medium-9 columns">
                <p>
                  Since 1997, the NRM convene experts in the field of neuroreceptors and serves as a platform for
                  discussing the latest breakthroughs in quantifying neuroreceptors in the human brain using Positron
                  Emission Tomography (PET). A wide range of methodological advances of neuroreceptor imaging including
                  novel brain molecular imaging agents, pharmacokinetic analysis, radio metabolites and analytical
                  methods are traditionally discussed in this meeting. Furthermore, the NRM includes sections devoted to
                  report neuroreceptor abnormalities present in the neuropsychiatric and neurological conditions with
                  particular attention to quantification of protein aggregates in neurodegenerative conditions.
                  <br>
                  <br>
                  <strong>Welcome message:</strong>
                  <br>
                  <i>
                    On behalf of the Local Organizing Committee, it is my pleasure to invite you to join us in Montreal,
                    Canada, for the NRM 2020 meeting from June 20 to 23. The NRM2020 will offer an exciting scientific
                    and social program for discussing the latest research involving PET neuroreceptors. Over the
                    three-day NRM meeting, one can expect excellent scientific sessions and social events in one of the
                    best seasons to visit the charming Montreal.
                    <br>
                    I also would like to invite you to the PET-PK course. This is a unique opportunity to learn the
                    basics of PET quantification from the leaders of the field. This year, this educational course will
                    take place from June 18-20 at the Montreal Neurological Institute, one of the most prestigious
                    institutions in neuroimaging.
                    <br>
                    We are preparing an extraordinary meeting for you. I'm looking forward to seeing you in Montreal
                    this coming June. See you soon.
                    <br>
                    <br>
                    <div style="text-align: right;">
                        <span>Prof. Pedro Rosa Neto (Chair)</span>
                    </div>
                    

                  </i>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>