<div class='full dark'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="About" title="" %}
    </div>
    <div class='large-12 medium-12 large-8 medium-8 columns large-centered medium-centered'>
      <div class='border-wrapper'>
        <div class='borders'>
          <div class='top'></div>
          <div class='right'></div>
          <div class='bottom'></div>
          <div class='left'></div>
        </div>

        <div class='just-text'>
          <div class='content'>
            <div class="row">
              <div class="medium-5 columns">
                <img align="center" src=" {{"/assets/images/LOGO_DR_TR.png" | relative_url }}" alt="About Image - Logo">
              </div>
              <div class="medium-7 columns">
                <p>
                  The meeting, established by Prof Albert Gjedde in 1997, represents a community of leaders
                  in the field of in-vivo quantification of brain function using Positron Emission Tomography
                  (PET). Having introduced numerous innovations, the NMR established the reputation to be one
                  of the most impactful and influential conference in the field of brain PET. In 2020, this
                  biannual conference will be held in the vibrant city of Montreal, Canada, and will be hosted
                  by the McGill University, the McGill Centre for Studies in Aging, the Montreal
                  Neurological Institute and the Douglas Research Institute.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
