<div class='full dark'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="Abstracts and Conference Details" title="" %}
    </div>
    <div class='large-12 medium-12 large-8 medium-8 columns large-centered medium-centered'>
      <div class='border-wrapper'>
        <div class='borders'>
          <div class='top'></div>
          <div class='right'></div>
          <div class='bottom'></div>
          <div class='left'></div>
        </div>

        <div class='just-text-left'>
          <div class='content'>
            <div class="row">
              <div class="medium-12 columns">
                <p>
                  <strong> Abstract Submission Deadline: </strong> 1st Feb, 2020
                  <br>
                  <strong> Abstract Submission Link: </strong> <i>Submission link will be added later.</i>
                  <br><br>
                  <strong> Acceptance: </strong> The members of the scientific committee will review and assess the
                  merit of all abstract submissions. Notification of acceptance or non-acceptance will be emailed by end
                  of
                  February.
                  <br><br>
                  <strong>Abstract guidelines: </strong> Abstracts should contain atmost 300 words and 2 figures and
                  shoudl follow the following structure: title, introduction, methods, results, conclusion.
                  Abbreviations (of compounds, for
                  example) must be spelled out in full at the first use. Do not use abbreviations in the title. Use only
                  standard abbreviations. Capitalize the first letter of all trade names. For session planning purposes,
                  please choose one of the following themes for your abstract.
                </p>
                <ul>
                  <li>Novel molecular imaging agents</li>
                  <li>Novel PK Modeling and Methods</li>
                  <li>Data Acquisition and Analysis</li>
                  <li>Imaging Methodology</li>
                  <li>Metabolism and Blood Flow</li>
                  <li>Preclinical Imaging</li>
                  <li>Neurotransmitter System Evaluation</li>
                  <li>Dementia and Neurological Disorders</li>
                  <li>Psychiatric Disorders and Addictions</li>
                </ul>
                <p><strong>Presentation guidelines: </strong></p>
                <ul>
                  <li>Oral Presentation: 15 mins (10 mins presentation + 5 mins Q&A) </li>
                  <li>Posters: 48" x 48" </li>
                </ul>
                <p><strong>Travel Fellowships:</strong> A limited number of travel fellowships are
                  available to student and postdoc presenting authors. The NRM2020 subcommittee will review and evaluate
                  applications based on a scientific merit and financial need. Applications must be submitted in
                  conjunction with an abstract.
                  <br><br>
                  <strong>Trainee Awards:</strong> Outstanding posters and orals presented by trainees at the NRM2020
                  are eligible for 2 Poster and 2 Presentation awards. During the oral or poster sessions at the NRM2020
                  a jury, consisting of members of the scientific committee, will select the winning posters. The choice
                  of the jury will be based on scientific excellence and quality of the presentations.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>