<div class='full dark'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="Accommodations" title="" %}
    </div>
    <div class='large-12 medium-12 large-8 medium-8 columns large-centered medium-centered'>
      <div class='border-wrapper'>
        <div class='borders'>
          <div class='top'></div>
          <div class='right'></div>
          <div class='bottom'></div>
          <div class='left'></div>
        </div>

        <div class='just-text-left'>
          <div class='content'>
            <div class="row">

              <div class="medium-12 columns">
                <p>There is a wide range of hotels around the Centre Mont-Royal.
                  NRM2020 has also arranged discounted room blocks with McGill University Residence. Please follow the
                  links below for more details. Please mention the Folio numbers when you are making the reservation.
                  Please note that the reservation cut-off date is <strong> 10th May 2020 </strong> for PK Course and
                  <strong> 12th May 2020 </strong> for
                  NRM2020.
                </p>
                <ul>
                  <a href="https://www.mcgill.ca/accommodations/summer/nrh">
                    <li>New Residence Hall - CAD 124.00/n - NRM2020 Folio: 1082935, PK Folio: 1082934 </li>
                  </a>
                  <a href="https://www.mcgill.ca/accommodations/summer/rvc">
                    <li>Royal Victoria College Residence - CAD 45.00/n - NRM2020 Folio: 154619, PK Folio: 154620</li>
                  </a>
                  <a href="https://www.mcgill.ca/accommodations/summer/cs">
                    <li>Carrefour Sherbrooke - CAD 115.00/n - NRM2020 Folio: 475033347, PK Folio: 475033348</li>
                  </a>
                  <a href="https://www.mcgill.ca/accommodations/summer/lc">
                    <li>La Citadelle</li>
                  </a>
                  <a href="https://www.mcgill.ca/accommodations/summer/bmh">
                    <li>Bishop Mountain Hall</li>
                  </a>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>