<div class='full dark'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="Contact" title="" %}
    </div>
    <div class='large-3 medium-3 columns large-centered medium-centered'>
        <div class='border-wrapper'>
            <div class='borders'>
              <div class='top'></div>
              <div class='right'></div>
              <div class='bottom'></div>
              <div class='left'></div>
            </div>
            <div class='contact-details'>
                <div class='content'>
                  <h4>All Questions:</h4>
                  <p>nrm2020@mcgill.ca</p>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
