<div class='full dark'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="Key Information" title="" %}
    </div>
    <div class='large-12 medium-12 large-8 medium-8 columns large-centered medium-centered'>
      <div class='border-wrapper'>
        <div class='borders'>
          <div class='top'></div>
          <div class='right'></div>
          <div class='bottom'></div>
          <div class='left'></div>
        </div>

        <div class='just-text-left'>
          <div class='content'>
            <div class="row">
              <div class="medium-12 columns">
                <p>
                  <strong> Conference Dates: </strong> 20th - 23rd June, 2020
                  <br>
                  <strong> Main Conference Location: </strong> Centre Mont-Royal, 2200 Mansfield Street, Montreal.
                  <br>
                  <strong> PET Pharmacokinetics Course Dates: </strong> 18th - 20th June, 2020
                  <br>
                  <strong> PET Pharmacokinetics Course Location: </strong> Montreal Neurological Institute, 3801 Rue
                  Université, Montréal.
                  <!-- <br>
                  <strong> Abstract Submission Deadline: </strong> 1st Feb, 2020 -->
                  <br>
                  <strong> Registration Fees: </strong>
                  <br><small>
                    <i> Registration deadlines will be notified later. All prices are quoted in Canadian dollars, per
                      person. Payments in other currencies will not be accepted. </i></small>
                </p>

                <ul>
                  <li>Students: $800 (Regular), $600 (Early Bird), $900 (On-site)</li>
                  <li>Academics: $900 (Regular), $800 (Early Bird), $1,200 (On-site)</li>
                  <li>Industry: $1,200 (Regular), $1,000 (Early Bird), $1,400 (On-site)</li>
                </ul>
                <p>
                  <strong>Registration: </strong> <i>NRM registration link will be available later. </i>
                  <br><br>

                  <strong> Invitation letter for visa: </strong> The NRM2020 secretariat will provide a letter of
                  invitation to aid obtaining a visa for entry into Canada. It is the sole responsibility of the
                  participant to take care of any visa requirements. Participants who require an entry visa must foresee
                  sufficient time for the visa application procedure. Participants should contact the nearest local
                  Embassy or Consulate of Canada to determine the appropriate timing and conditions of the visa
                  application. Invitation letter will only be provided once registration is complete.
                  <br><br>
                  <strong> Photographs and videos: </strong> Video and photographs will be allowed during the meeting as
                  long it does not disturb the presentations.
                  <br><br>
                  <strong> Event Format: </strong>
                </p>
                <ul>
                  <li>2 Keynote lectures</li>
                  <li>60+ Oral presentations</li>
                  <li>275+ posters (viewable throughout the conference)</li>
                  <li>2+ Networking receptions</li>
                </ul>

                <p>The following themes will be highlighted in NRM2020.</p>
                <div class="row">
                  <div class="medium-6 columns">
                    <ul>
                      <li>Imaging Neuroinflammation</li>
                      <li>PET/MR</li>
                      <li>Kinetic Analysis</li>
                      <li>Novel PET Imaging Agents</li>
                      <li>Neuropsychiatric Conditions</li>
                    </ul>
                  </div>
                  <div class="medium-6 columns">
                    <ul>
                      <li>Imaging Addiction </li>
                      <li>Animal Neuroreceptor Imaging</li>
                      <li>Receptor Autoradiography</li>
                      <li>Largescale Neuroimaging</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>