<div class='full dark'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="Montreal" title="" %}
    </div>
    <div class='large-12 medium-12 large-8 medium-8 columns large-centered medium-centered'>
      <div class='border-wrapper'>
        <div class='borders'>
          <div class='top'></div>
          <div class='right'></div>
          <div class='bottom'></div>
          <div class='left'></div>
        </div>

        <div class='just-text-left'>
          <div class='content'>
            <div class="row">

              <div class="medium-12 columns">
                <p>
                  Montréal is the second most-populous city in Canada and occupies about three-fourths of Montreal
                  Island (Île de Montréal), the largest of the 234 islands of the Hochelaga Archipelago on the St.
                  Lawrence river. Montreal is the birthplace of neuroimaging in Canada and one of the most important
                  neuroscience community worldwide. The sunny month of June and countless cultural events makes Montreal
                  the perfect scenario for combining advances in neuroscience with festival delights.
                  <br>
                  <br>
                  <strong>Other events in Montreal around June, 2020:</strong>
                </p>
                <ul>
                  <a href="https://www.humanbrainmapping.org/i4a/pages/index.cfm?pageid=3958">
                    <li><strong>Human Brain Mapping:</strong> 26th - 30th June, 2020</li>
                  </a>
                  <a href="https://www.canada-grand-prix.com/en/2564-canada-f1/">
                    <li><strong>Montreal Grand Prix: </strong>14th - 20th June, 2020</li>
                  </a>
                  <a href="https://www.montrealjazzfest.com/en-CA">
                    <li><strong>Montreal Jazz Festival: </strong>25th June - 7th July, 2020</li>
                  </a>
                  <a href="https://www.hahaha.com/en/montreal-festival">
                    <li><strong>Just For Laughs Festival: </strong>15th July - 26th July, 2020</li>
                  </a>
                </ul>
                <a href="https://www.mtl.org/en">Visit Tourism Montréal website for more information. </a>
                <br><br>
                <p><strong>Weather: </strong> The temperature in Montreal during June ranges from 22 to 28 degrees
                  centigrade, and 72 to 82
                  degrees in Fahrenheit.
                  <br><br>
                  <strong>Currency: </strong> The Canadian currency is the Canadian dollar. There are 5, 10, 20, 50 and
                  100
                  dollar bills.
                  Smaller coins are 5, 10, and 25 cent pieces as well as 1 and 2 dollars. Banking and credit cards
                  are also welcome almost everywhere. Note that 1 CAN$ ~ 0.75 US$ or 0.68 Euro.
                  <br><br>
                  <strong>Language: </strong>There are two official languages in Canada – English and French.
                  <br><br>
                  <strong>Taxes: </strong>Purchases are subject to two applicable taxes in Québec: a federal Goods and
                  Services Tax (GST)
                  of 5% and a Québec provincial tax (TVQ) of 9.975%. A 3.5% accommodation tax is also in effect in
                  Montreal.
                  <br><br>
                  <strong>Tipping: </strong>Typical tips in restaurant, taxi drivers is 15% of the bill, before taxes.
                  <br><br>
                  <strong>Emergency number:</strong> 911 available in English of French
                  <br><br>
                  <strong>Electricity: </strong>Canada operates on 110V, 60 cycle electric power. Non-North American
                  visitors should
                  bring a plug adapter.
                  <br><br>
                  <strong>Equality & diversity: </strong>The NRM2020 organizers ensure a strong commitment to equality
                  and diversity.
                  <br><br>

                  <p><strong>Insurance and Liability: </strong>The organizers will not accept liability for individual
                    medical, travel or personal insurance. It is highly recommended that all participants carry proper
                    health and travel insurance.
                  </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>