<div class='full dark'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include notification-title.html small_title="Notifications" title="" %}
    </div>
    <div class='large-12 medium-12 large-8 medium-8 columns large-centered medium-centered'>
      <div class='notification-border-wrapper'>
        <div class='borders'>
          <div class='top'></div>
          <div class='right'></div>
          <div class='bottom'></div>
          <div class='left'></div>
        </div>

        <div class='just-text-center'>
          <div class='content'>
            <div class="row">
              <div class="medium-12 columns">
                <p>
                  Abstract submission for NRM2020 is now open. <a href="https://www.eventclass.org/contxt_nrm2020/"
                    title="Abstract Submission for the NRM2020" target="_blank">Submit yours now.</a>
                </p>
                <br>
                <p>
                  NRM2020 and PK Course 2020 registrations will start on the 18th December 2019.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>