<div class="full dark">
  <div class="row">
    <div class="large-8 columns large-centered">
      {% include notification-title.html small_title="Notifications" title="" %}
    </div>
    <div
      class="large-12 medium-12 large-8 medium-8 columns large-centered medium-centered"
    >
      <div class="notification-border-wrapper">
        <div class="borders">
          <div class="top"></div>
          <div class="right"></div>
          <div class="bottom"></div>
          <div class="left"></div>
        </div>

        <div class="just-text-left">
          <div class="content">
            <div class="row">
              <div class="medium-12 columns">
                We have been attentive to the latest developments on the
                COVID-19 worldwide. We believe that the progression of this
                pandemic might affect our meeting this coming June. We would
                like to consult the NRM community regarding possible changes in
                the schedule.
                <br />
                Possible changes are,
                <br />
                <br />
                <ul>
                  <li>
                    Postpone the regular meeting to 30 November, 01, 02 December
                    2020
                  </li>
                  <li>
                    Postpone the regular meeting to 09, 10, 11 December 2020
                  </li>
                  <li>
                    Organize an interactive virtual meeting for 09, 10, 11
                    December 2020
                  </li>
                  <li>Postpone the regular meeting to 2022</li>
                </ul>
                We would send an email with the link to add your vote in the
                coming days. Independent to the outcome, we will cancel all
                existing registrations and will refund all registration fees. We
                will also re-open the abstract webpage for those who would like
                to update their work.
                <br />
                <br />
                Finally, we would like to thank everyone who sent abstracts,
                abstracts reviewers, our sponsors and to everyone who has
                already registered for the meeting. We will do our best to
                rectify this situation.
                <br />
                <br />
                We wish you all well and continued good health during these
                uncertain times,
                <br />
                <br />
                NRM 2020 LOC
                <br />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
