<div class='full dark'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="About" title="" %}
    </div>
    <div class='large-12 medium-12 large-8 medium-8 columns large-centered medium-centered'>
      <div class='border-wrapper'>
        <div class='borders'>
          <div class='top'></div>
          <div class='right'></div>
          <div class='bottom'></div>
          <div class='left'></div>
        </div>
        <div class='just-text-left'>
          <div class='content'>
            <h4>Organizing Secretariat, NRM2020:</h4>
            <p>McGill University Research Centre for Studies in Aging | 6825 LaSalle Boulevard, Verdun, QC, Canada, H4H
              1R3</p>
            <p><strong>NRM2020 Chair: </strong>Dr. Pedro Rosa-Neto</p>
            <br>
            <div class="row">
              <div class="just-text-center">
                <p><strong>Local Organizing Committee</strong></p>
              </div>

              <div class="medium-6 columns">
                <p><strong>Faculty Members</strong></p>
                <ul>
                  <li>Dr. Vesna Sossi - University of British Columbia</li>
                  <li>Dr. Doris Doudet - University of British Columbia</li>
                  <li>Dr. Peter Herscovitch - National Institute of Health</li>
                  <li>Dr. Jean-Paul Soucy - McGill University</li>
                  <li>Dr. Alan Evans - McGill University</li>
                  <li>Dr. Jean-Baptiste Poline - McGill University</li>
                  <li>Dr. Amir Shmuel - McGill University</li>
                  <li>Dr. Paule-Joanne Toussaint - McGill University</li>
                </ul>
              </div>
              <div class="medium-6 columns">
                <p><strong>Non - Faculty Members</strong></p>
                <ul>
                  <li>Tamar Tatigian</li>
                  <li>Silvana Aguzzi</li>
                  <li>Andréa Lessa Benedet</li>
                  <li>Sulantha Mathotaarachchi</li>
                  <li>Alexandra Triantafillopoulos</li>
                  <li>Sarah Mulcahy</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>