<div class='full dark'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="PET Pharmacokinetics Course" title="" %}
    </div>
    <div class='large-12 medium-12 large-8 medium-8 columns large-centered medium-centered'>
      <div class='border-wrapper'>
        <div class='borders'>
          <div class='top'></div>
          <div class='right'></div>
          <div class='bottom'></div>
          <div class='left'></div>
        </div>

        <div class='just-text-left'>
          <div class='content'>
            <div class="row">
              <div class="medium-12 columns">
                <p>
                  The PET Pharmacokinetics Course will be held from 18th June to 20th June, 2020 at the Montreal Neurological Institute
                  (MNI), in Montreal, Canada. The course will take place just prior to NRM 2020.
                  Registration for the course will be separate from the main NRM conference.
                  <br>
                  The PET Pharmacokinetics Course has been an annual event held immediately prior to NRM and Brain-PET
                  for more than 20 years. It is designed for anyone who would like to gain a better understanding of the
                  principles involved in PET kinetic modeling and analysis. The course is immersive, including more than
                  15 lectures plus interactive discussions and hands-on computer exercises. It is appropriate for
                  physicians, researchers with a wide range of backgrounds, including medicine, physics, chemistry,
                  neuroscience, and pharmacology as well as for graduate students. Course students have come from
                  academia and industry.
                  <br><br>
                  <strong>Registration: </strong> <i>PK course registration link will be available later. </i>
                  <br><br>
                  <strong>Tentative course tutors:</strong>
                </p>
                <ul>
                  <li>Olivier Barret (MIRCen, CEA, France)</li>
                  <li>Ronald Boellaard (VU University, Netherlands)</li>
                  <li>Richard Carson (Yale University, USA)</li>
                  <li>Roger Gunn (Imperial College London, UK)</li>
                  <li>Robert Koeppe (University of Michigan, USA)</li>
                  <li>Mark Lubberink (Uppsala University, Sweden)</li>
                  <li>Gitte Moos Knudsen (Copenhagen University Hospital, Denmark)</li>
                  <li>Marc Normandin (Harvard Medical School, USA)</li>
                  <li>Julie Price (Martinos Center, Massachusetts General Hospital, Harvard University, USA)</li>
                  <li>Mark Slifstein (Stony Brook University, USA)</li>
                  <li>Joerg Van de Hoff (HZDR, Germany)</li>
                  <li>Paolo Zanotti Fregonara (Houston Methodist Research Institute, USA)</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>